<html>
<header id="header" >
	<h1><a href="index.html">Player's Council</a> for the Lord of the Rings TCG</h1>
	<nav id="nav">
		<ul>
			<li><a href="index.html">Home</a></li>
			
			
			<li>
				<a href="#" class="icon solid fa-angle-down">Communities and Events</a>
				<ul>
					<li><a href="communities.html">Communities</a></li>
					<li><a href="events.html">Event Calendar</a></li>
					<li><a href="leagues.html">Monthly Weekend League</a></li>
					<li><a href="leaguewins.html">Past Weekend League Winners</a></li>
				</ul>
			</li>
			
			<li>
				<a href="#" class="icon solid fa-angle-down">Resources</a>
				<ul>
					<li><a href="resources.html">Files and Resources</a></li>
					<!-- <li><a href="slips.html">V-Card Slips</a></li> -->
					<li><a href="templates.html">Card Templates</a></li>
					<li><a href="cardgen.html">Card Generator</a></li>
				</ul>
			</li>
			
			<li>
				<a href="faq-index.html" class="icon solid fa-angle-down">How Do I...?</a>
				<ul style="text-align:right">
					<li><a href="newstart.html">...Get Started Playing?</a></li>
					<li><a href="faq-digital-play.html">...Play Digitally?</a></li>
					<li><a href="faq-price.html">...Price Cards?</a></li>
					<li><a href="faq-buy.html">...Buy Cards?</a></li>
					<li><a href="faq-sell.html">...Sell Cards?</a></li>		
				</ul>
			</li>
			
			<!--<li>
				<a href="faq-index.html" class="icon solid fa-angle-down">What Are...?</a>
				<ul>
					<li><a href="faq-oversized.html">...Oversized Cards?</a></li>
				</ul>
			</li>-->
			
			<li><a href="about.html" class="button">About Us</a></li>
			<li><a href="https://play.lotrtcgpc.net" class="button">Play on Gemp</a></li>
		</ul>
	</nav>
</header>
<script>loadDropdowns();</script>
</html>